#event-handler{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 100px;
}

.intro{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #dbe1ec;
    letter-spacing: 0.1em;
    position: relative;
    top: 100vh;
    bottom: 0;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}




