<div id="event-handler"></div>
<section class="container" id="container">
  <div id="intro" class="intro">
    <div class="imgBox">
      <img class="image" src="../../assets/img/astronaut.png" alt="astronaut" />
    </div>
    <p>A long time ago in a galaxy far far away...</p>
    <p>A young, brave adventurer started his cosmic journey.</p>
    <p>Suddenly... He was attacked by the aliens!</p>
    <p>Now he must rush through their attack line and escape...</p>
    <p>He must shoot two the same targets at once to break one line.</p>
    <p>Would you help him?</p>
    <div class="imgBox">
      <img class="image" src="../../assets/img/alien.png" alt="alien" />
    </div>
    <a routerLink='/game'>PLAY</a>
  </div>
</section>
