<section class="container">
    <h2>SPACE MEMORY</h2>
    <div id="board" class="board-start">
        <h4>A long time ago in a galaxy far far away...</h4>
        <h4>A young, brave adventurer started his cosmic journey...</h4>
        <h4>Unfortunately...</h4>
        <h4>...he lost his way!</h4>
        <h4>Now he must solve the puzzle and match all cards to turn on the autopilot...</h4>
        <h4>...but his memory has always been a little poor...</h4>
        <h4>...and everything shakes all the time!"</h4>
        <h4>Would you help him?</h4>
    </div>
</section>


