<nav class="menu memory-menu">
    <ul class="menu__list">
        <li class='menu__item' routerLink='/'>
            <div class="menu__iconBox"><i class="fas fa-user-astronaut menu__icon"></i></div>
        </li>
        <li class='menu__item' routerLink='/game'>
            <div class="menu__iconBox"><i class="fas fa-play menu__icon"></i></div>
        </li>
        <li class='menu__item' routerLink='/info'>
            <div class="menu__iconBox"><i class="fas fa-info menu__icon"></i></div>
        </li>
        <div class="menu__game-title" routerLink='/'>
            <i class="fas fa-space-shuttle"></i>
             SPACE MEMORY</div>
    </ul>
</nav>
