<nav class="menu memory-menu">
    <ul class="menu__list">
        <li class='menu__item' routerLink='/'>
            <div class="menu__iconBox"><i class="fas fa-play-circle menu__icon"></i></div>
        </li>
        <li class='menu__item' routerLink='/game'>
            <div class="menu__iconBox"><i class="fas fa-play-circle menu__icon"></i></div>
        </li>
        <li class='menu__item' routerLink=''>
            <div class="menu__iconBox"><i class="fas fa-play-circle menu__icon"></i></div>
        </li>
        <li class='menu__item' routerLink=''>
            <div class="menu__iconBox"><i class="fas fa-play-circle menu__icon"></i></div>
        </li>
    </ul>
</nav>
