<nav class="menu memory-menu">
    <ul class="menu__list">
        <div class="menu__game-title" routerLink='/'>
            <i class="fas fa-space-shuttle"></i>
             SPACE MEMORY</div>
        <li class='menu__item' routerLink='/'>
            <div class="menu__iconBox"><i class="fas fa-user-astronaut menu__icon"></i> Intro</div>
        </li>
        <li class='menu__item' routerLink='/game'>
        <div class="menu__iconBox"><i class="fas fa-gamepad menu__icon"></i> Game</div>
        </li>
        <li class='menu__item' routerLink='/info'>
            <div class="menu__iconBox"><i class="fas fa-info-circle menu__icon"></i> Info</div>
        </li>
    </ul>
</nav>
