<section class="container">
  <div class="buttons-container memory-style-theme">
    <button class="button" (click)="startGame()">New game</button>
  </div>
  <div class="game memory-style-theme" *ngIf="!isGameOver">
    <div class="score">
      <p>Score: {{ this.gameState.score }}</p>
      <p>Best score: {{ this.bestScore }}</p>
    </div>
    <div id="board" class="board">
      <div *ngFor="let card of gameState.deck; index as i" class="cardBox">
        <div id="card{{ i }}" class="card" (click)="revealCard(i)"></div>
      </div>
    </div>
    <div class='score'>
      <p *ngIf="isBonus">Bonus turn! Turns till end: {{ this.gameState.maxTurnCount }}</p>
      <p *ngIf="!isBonus">Turns till end: {{ this.gameState.maxTurnCount }}</p>
    </div>
  </div>
  <div *ngIf="isGameOver" style="margin-top: 150px">
    <p *ngIf="isWin">Yo won!</p>
    <p *ngIf="isNewBestScore">You've bitten your best score! New best score is: {{ this.gameState.score }}</p>
    <p *ngIf="!isWin">Yo loose!</p>
  </div>
</section>

