.container{
    width: 100%;
    color: #efefef;
}

.info{
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    width: 42%;
    min-width: 260px;
    -webkit-box-shadow: 1px 1px 10px 0px #217a8a;
    -moz-box-shadow: 1px 1px 10px 0px #217a8a;
    box-shadow: 1px 1px 10px 0px #217a8a;
    border: 1px rgb(44, 44, 44) solid;
    border-radius: 10px;
    padding: 2%;
    letter-spacing: 0.1em;
    background: #050505;
    transition: all 0.2s ease-in;
    list-style: none;
    overflow-wrap: break-word;
}

.imgBox-info:first-of-type {
  margin-bottom: 25px;
}

.imgBox-info:nth-of-type(2){
  margin-top: 25px;
}

.info-link{
	text-decoration: none;
	color: #86cddf;
	transition: color 0.2s ease-in;
}

.info-link:hover{
	color: #e98282;
}
