.memory-game{
	width: 650px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #bbd6dd;
	border-left: #13162d 5px solid;
	border-right: #13162d 5px solid;
}

h1{
	width: 100%;
	font-size: 64px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 10px;
	color: #c2e1e9;
	background-color: #100c21;
}


.gameContainer__board
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.gameContainer__buttonBox{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	position: relative;
}

.gameContainer__button{
	-webkit-box-shadow: 1px 2px 1px 0px #021533;
	-moz-box-shadow: 1px 2px 1px 0px #021533;
	box-shadow: 1px 2px 1px 0px #021533;
	border: 1px solid #152e55;
	transition: all .3s ease-in-out;	
}

.gameContainer__button:hover{
	color: #efefef;
	cursor: pointer;
	filter: brightness(120%);
}

.card-hover
{
	border: 2px solid #d5e1eb;
	filter: brightness(100%);

}

.score
{
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.gameContainer__button{
	background-image: radial-gradient(circle, #100c21, #13162d, #161d3a, #172547, #152e55, #152e57, #152e5a, #162e5c, #1b2552, #1f1b48, #20113e, #210633);
	color: #d6ecf1;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	height: 40px;
	position: absolute;
  	top: 25%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.memory-footer{
	width: 100%;

}

footer{
	width: 100%;
	background-color: #021533;
	font-size: 16px;
	color: #c2e1e9;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.link{
	text-decoration: none;
	color: #c2e1e9;
}
