<section id="memory-game" class="memory-game">
    <header>
        <h1>SPACE MEMORY</h1>
    </header>

    <main>
        <article class="gameContainer">
            <div class='gameContainer__buttonBox'>
                <button class='gameContainer__button' (click)="start()">New game</button>
            </div>
            <div class="gameContainer__board" id="board">
            </div>
        </article>
    </main>
    <footer class="memory-footer">
        Created by Marta Prośniak.<br>
        Icons made by 
        <a class='link' href="https://www.flaticon.com/packs/space-6">Freepik from www.flaticon.com</a>   
    </footer>
</section>