.container{
    width: 100%;
    min-height: 400px;
    color: white;
    text-align: center;
}

.gameContainer__board{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
    position: relative;
    top: 100px;
}

@media(min-width:375px){
    .gameContainer__board{
        width: 350px;
    }
}

@media(min-width:768px){
    .gameContainer__board{
        width: 580px;
    }
}

@media(min-width:1024px){
    .gameContainer__board{
        width: 680px;
    }
}

@media(min-width:1440px){
    .gameContainer__board{
        width: 750px;
    }
}

.memory-buttonsBox{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 75px;
    -webkit-box-shadow: 1px 1px 10px 0px #2d71f0c4;
    -moz-box-shadow: 1px 1px 10px 0px #2d71f0c4;
    box-shadow: 1px 1px 10px 0px #2d71f0c4;
    border: 1px rgb(44, 44, 44) solid;
    border-radius: 10px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-button{
    height: 50px;
    width: 200px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: rgb(7, 0, 100);
    background: #2faac0;
    transition: all 0.3s ease-in-out;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-shadow: 1px 1px 10px 0px #00025ef3;
    -moz-box-shadow: 1px 1px 10px 0px #00025ef3;
    box-shadow: 1px 1px 10px 0px #00025ef3;
    border: 2px #111111 solid;
}

.memory-button:hover{
    background: #26899b;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


