html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
    }

body{
	margin: 0;
	color: white;
    font-family: 'Orbitron', sans-serif;
    background: url(./assets/img/nasa.jpg);
    background-size: cover;
    
}