body
{
	margin: 0;
	color: #0e0b20;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    background-image: url("./assets/img/background2.jpg");
    background-size: auto;
    opacity: 0.9;
}